html {
  min-height: 100%;
  background-image: url("/images/currency_converter_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  min-height: 100%;
  background: transparent;
}

#root {
  min-height: 100vh;
  background: transparent;
}
